/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.heading {
  font-family: 'Lobster';
  font-size: 42px;
}

.filters-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 20px 0;
}
